<h1>stories</h1>
<div class="row">
    {{#each stories}}
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    {{{editIcon userId ../user _id}}}
                </div>
                <div class="content center-align" style="margin-bottom: 20px">
                    <h5>{{ title }}</h5>
                    <p>{{stripTags (truncate message 150)}}</p>
                </div>
                <div style="margin-bottom: 20px;" class="chip blue-grey lighten-4">
                    <img src={{userId.profileImage}} alt="google-profile-image">
                    {{ userId.firstName }} {{ userId.lastName }}
                </div>
                <div class="action">
                    <a href="#" class="btn-small">Read More</a>
                </div>
            </div>
        </div>
    {{/each}}
</div>
<a href="/stories/add" class="btn-floating btn-large red"><i class="material-icons">add</i></a>